.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
h1{
  background-color: gray;
  display: inline-flexbox;
  padding: 10px;
  color: antiquewhite;
  font-family:'Courier New', Courier, monospace
}
